.ant-tree-node-content-wrapper {
  display: flex;
}

.graphiql-container {
  border-radius: 8px;
}

.graphiql-session-header {
  height: 2px;
}

.api-management-card .ant-card-body {
  height: 100%;
}

.api-tree .ant-tree-treenode {
  gap: 4px;
}

.api-tree.ant-tree-block-node .ant-tree-treenode .ant-tree-node-content-wrapper {
  overflow: hidden;
  flex: 1;
  gap: 4px;
}

.api-tree.ant-tree-block-node .ant-tree-treenode .ant-tree-title {
  width: calc(100% - 14px);
}

.ant-space .ant-space-item:last-child {
  width: 100%;
}

:where(.css-dev-only-do-not-override-1x0dypw).ant-splitter .ant-splitter-panel {
  padding-right: 24px;
}

.ant-tree-title div span:first-child {
  max-width: 130px;
}