@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.ant-menu-item-selected {
  @apply text-white bg-[#1677ff] dark:bg-[#1677ff] dark:text-white;
}

/* 页面内全屏样式 */
.page-fullscreen {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  z-index: 50 !important;
  width: 100vw !important;
  height: 100vh !important;
}

/* 为了支持主题，背景色通过组件内联样式设置 */
