:root {
  :global {
    .ant-layout-header {
      background: #fff;
      padding: 0;
      border-bottom: 1px solid #f5f5f5;

      .ant-row {
        .ant-space:first-child {
          padding-left: 20px;
        }
      }
    }
  }
}
