@charset "utf-8";

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 6px;
}
/* 外层轨道 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.1);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.2);
}

.json-schema-react-editor {
  font-size: 14px;
}

.json-schema-react-editor .array-item-type {
  text-align: left;
}

.json-schema-react-editor .add-btn {
  margin: 8px;
}

.json-schema-react-editor .pretty-editor {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  height: 800px;
}

.json-schema-react-editor .import-json-button {
  margin: 5px;
}

/* Ant Design v5 兼容性样式 */
.json-schema-react-editor .certain-category-search .ant-select-selector {
  height: 32px;
}

.json-schema-react-editor .certain-category-search .ant-select-selection-search {
  display: unset;
}