.compactTabs {
  // 整体容器背景
  padding: 0 !important;
  border: 1px solid var(--ant-color-border) !important;
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  overflow: hidden !important;
}
